<section class="section" id="deposit-page">
    <h2 class="balsamiq">Deposit</h2>
    <nav>
        <ul class="deposit-navigation">
            <li id="crypto" class="deposit-navpoint deposit-navpoint-active balsamiq">Crypto</li>
            <li id="fiat" class="deposit-navpoint balsamiq" itemid="fiat">Fiat</li>
        </ul>
    </nav>
    <main class="main active-main" id="crypto-deposit">
    <div class="currency-type-container">
        <button id="USDT" class="currency-type currency-type-active balsamiq">USDT</button>
        <button id="TON" class="currency-type balsamiq">TON</button>
    </div>
        <main class="main active-main" id="USDT-deposit">
            <h4 class="balsamiq">You send</h4>
            <div>
                <h3 class="balsamiq">USDT</h3>
                <input type="number" class="balsamiq">
                <img src="{{ url_for('static', filename='img/copy-icon.png' ) }}" alt="">
            </div>
            <div>
                <p class="balsamiq">Minimal Deposit</p>
                <p class="balsamiq">7 USDT =</p>
            </div>
            <div class="USDT-deposit-details-container">
                <div class="USDT-deposit-details balsamiq">More details<span class="arrow arrow-down"></span></div>
                <div class="details-content">
                    <h4 class="balsamiq">You get</h4>
                    <div>
                        <img src="{{ url_for('static', filename='img/token.png' ) }}" alt="">
                        <p class="balsamiq money-income">12345</p>
                    </div>
                </div>
            </div>
            <div class="calc-address-container">
                <div class="calc-address-option">
                    <h3 class="balsamiq">Network</h3>
                    <h3 class="balsamiq">Tron (TRC 20)</h3>
                </div>
                <div class="calc-address-option">
                    <div><h3 class="balsamiq">Deposit Address</h3><img src="{{ url_for('static', filename='img/copy-icon.png' ) }}" alt=""></div>
                    <h3 class="balsamiq">123asd983sa832p13as8d</h3>
                </div>
            </div>
            <div class="confirm-timer">
                <button class="confirm-button balsamiq">Confirm sending</button>
                <div>
                    <div><img src="{{ url_for('static', filename='img/clock-white.png' ) }}" alt=""><span class="balsamiq">15:00</span></div>
                    <img src="{{ url_for('static', filename='img/notification-brown.png' ) }}" alt="">
                </div>
            </div>
        </main>
        <main class="main" id="TON-deposit">
            <h4 class="balsamiq">You send</h4>
            <div>
                <img src="{{ url_for('static', filename='img/ton-icon.png' ) }}" alt="">
                <input type="number" class="balsamiq">
                <img src="{{ url_for('static', filename='img/copy-icon.png' ) }}" alt="">
            </div>
            <div class="currency-rate">
                <p class="balsamiq">Minimal Deposit</p>
                <p class="balsamiq TON"> 7 USDT = &nbsp;<span class="currency-type-switch-numb-ton"></span><img src="{{ url_for('static', filename='img/ton-icon.png' ) }}" alt=""></p>
            </div>
            <div class="TON-deposit-details-container">
                <div class="TON-deposit-details balsamiq">More details<span class="arrow arrow-down"></span></div>
                <div class="details-content">
                    <h4 class="balsamiq">You get</h4>
                    <div>
                        <img src="{{ url_for('static', filename='img/token.png' ) }}" alt="">
                        <p class="balsamiq money-income">12345</p>
                    </div>
                </div>
            </div>
            <div class="calc-address-container">
                <div class="calc-address-option">
                    <h3 class="balsamiq">Network</h3>
                    <h3 class="balsamiq">Toncoint (TON)</h3>
                </div>
                <div class="calc-address-option">
                    <div><h3 class="balsamiq">Deposit Address</h3><img src="{{ url_for('static', filename='img/copy-icon.png' ) }}" alt=""></div>
                    <h3 class="balsamiq">123asd983sa832p13as8d</h3>
                </div>
            </div>
            <div class="confirm-timer">
                <button class="confirm-button balsamiq">Confirm sending</button>
                <div>
                    <div><img src="{{ url_for('static', filename='img/clock-white.png' ) }}" alt=""><span class="balsamiq">15:00</span></div>
                    <img src="{{ url_for('static', filename='img/notification-brown.png' ) }}" alt="">
                </div>
            </div>
        </main>
    </main>   
    <main class="main" id="fiat-deposit">
        <div class="currency-type-container">
            <button id="USD" class="currency-type currency-type-active balsamiq">USD</button>
            <button id="EUR" class="currency-type balsamiq">EUR</button>
            <button id="UAH" class="currency-type balsamiq">UAH</button>
            <button id="RUB" class="currency-type balsamiq">RUB</button>
        </div>
        <main class="main active-main" id="USD-deposit">
            <h4 class="balsamiq">You send</h4>
            <div>
                <h3 class="balsamiq currency-type-switch">USD</h3>
                <input type="number" class="balsamiq">
                <img src="{{ url_for('static', filename='img/copy-icon.png' ) }}" alt="">
            </div>
            <div>
                <p class="balsamiq">Minimal Deposit</p>
                <p class="balsamiq">7 USDT = <span class="currency-type-switch-numb"></span><span class="currency-type-switch-icon"></span></p>
            </div>
            <div class="FIAT-deposit-details-container">
                <div class="FIAT-deposit-details balsamiq">More details<span class="arrow arrow-down"></span></div>
                <div class="details-content">
                    <h4 class="balsamiq">You get</h4>
                    <div>
                        <img src="{{ url_for('static', filename='img/token.png' ) }}" alt="">
                        <p class="balsamiq money-income">12345</p>
                    </div>
                </div>
            </div>
            <div class="calc-address-container">
                <div class="calc-address-option">
                    <h3 class="balsamiq">Network</h3>
                    <h3 class="balsamiq">Tron (TRC 20)</h3>
                </div>
                <div class="calc-address-option">
                    <div><h3 class="balsamiq">Deposit Address</h3><img src="{{ url_for('static', filename='img/copy-icon.png' ) }}" alt=""></div>
                    <h3 class="balsamiq">123asd983sa832p13as8d</h3>
                </div>
            </div>
            <div class="confirm-timer">
                <button class="confirm-button balsamiq">Confirm sending</button>
                <div>
                    <div><img src="{{ url_for('static', filename='img/clock-white.png' ) }}" alt=""><span class="balsamiq">15:00</span></div>
                    <img src="{{ url_for('static', filename='img/notification-brown.png' ) }}" alt="">
                </div>
            </div>
        </main>
    </main>
    <footer class="footer tap-bar">
        <div class="footer-nav active" id="nft-button"><img src="{{ url_for('static', filename='img/nft 4.png') }}" alt=""> <h4 class="balsamiq">NFT</h4></div>
        <div class="footer-nav" id="storage-button"><img src="{{ url_for('static', filename='img/storage.png') }}" alt=""> <h4 class="balsamiq">Storage</h4></div>
        <div class="footer-nav" id="main-button"><img src="{{ url_for('static', filename='img/eggmine.png') }}" alt=""> <h4 class="balsamiq">Main</h4></div>
        <div class="footer-nav" id="earn-button"><img src="{{ url_for('static', filename='img/cash.png') }}" alt=""> <h4 class="balsamiq">Earn</h4></div>
        <div class="footer-nav" id="wallet-button"><img src="{{ url_for('static', filename='img/wallet.png') }}" alt=""> <h4 class="balsamiq">Wallet</h4></div>
    </footer>
</section>