<section class="section" id="earn-page">
        <div class="image-container-text"><img src="{{ url_for('static', filename='img/Group88.png') }}" alt=""></div>
        <main id="earn-page-maincontent" class="main active-main">
            <h4 class="balsamiq">Everyday task</h4>
            <div class="everyday-task-container">
                <div class="everyday-task everyday-task-active">
                    <h4 class="balsamiq">1 day</h4>
                    <div><img src="{{ url_for('static', filename='img/token.png') }}" alt=""><span class="roboto">+123, 000, 000</span></div>
                </div>
                <div class="everyday-task">
                    <h4 class="balsamiq">1 day</h4>
                    <div><img src="{{ url_for('static', filename='img/token.png') }}" alt=""><span class="roboto">+123, 000, 000</span></div>
                </div>
                <div class="everyday-task">
                    <h4 class="balsamiq">1 day</h4>
                    <div><img src="{{ url_for('static', filename='img/token.png') }}" alt=""><span class="roboto">+123, 000, 000</span></div>
                </div>
                <div class="everyday-task">
                    <h4 class="balsamiq">1 day</h4>
                    <div><img src="{{ url_for('static', filename='img/token.png') }}" alt=""><span class="roboto">+123, 000, 000</span></div>
                </div>
            </div>
            <h4 class="balsamiq">Task</h4>
            <div class="once-task-container">
                <div class="task-container social-popup-open">
                    <h4 class="balsamiq">Subscribe</h4>
                    <img src="{{ url_for('static', filename='img/telegram-icon.png') }}" alt="">
                    <div><img src="{{ url_for('static', filename='img/token.png') }}" alt=""><span class="roboto">+123, 000, 000</span></div>
                </div>
                <div class="task-container">
                    <h4 class="balsamiq">Subscribe</h4>
                    <img src="{{ url_for('static', filename='img/youtube-icon.png') }}" alt="">
                    <div><img src="{{ url_for('static', filename='img/token.png') }}" alt=""><span class="roboto">+123, 000, 000</span></div>
                </div>
                <div class="task-container">
                    <h4 class="balsamiq">Subscribe</h4>
                    <img src="{{ url_for('static', filename='img/twitter-icon.png') }}" alt="">
                    <div><img src="{{ url_for('static', filename='img/token.png') }}" alt=""><span class="roboto">+123, 000, 000</span></div>
                </div>
                <div class="task-container">
                    <h4 class="balsamiq">Subscribe</h4>
                    <img src="{{ url_for('static', filename='img/twitter-icon.png') }}" alt="">
                    <div><img src="{{ url_for('static', filename='img/token.png') }}" alt=""><span class="roboto">+123, 000, 000</span></div>
                </div>
            </div>
            <h4 class="balsamiq">Invite friends and get more tokens</h4>
            <div class="referal-container">
                <div id="invite-friends" class="balsamiq">Invite friends <img src="{{ url_for('static', filename='img/invite-friends.png') }}" alt="" style="padding-left: 5%;"></div>
                <div id="go-to-referals" class="balsamiq">Go to referals</div>
            </div>
            <img src="{{ url_for('static', filename='img/win-10k.png') }}" alt="">
        </main>
        <main id="earn-page-secondarycontent" class="main">
            <div class="invite-friends-header">
                <h6 class="balsamiq">Referal balance</h4>
                <div>
                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                    <span class="balsamiq">800,010,000</span>
                </div>
            </div>
            <div class="invite-friends-referal-list">
                <h4 class="balsamiq">0 referal</h4>
                <div class="token-text-container">
                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                    <span class="roboto">+5,000/per friend</span>
                </div>
            </div>
            <div class="friends-list">
                <h4 class="balsamiq" style="display: none;">No friends yet</h4>
                <div class="friends-list-container">
                    <div>
                        <h4 class="balsamiq">Friend name</h4>
                        <a href="#" class="balsamiq">Get tokens</a>
                    </div>
                    <div class="token-text-container">
                        <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                        <span class="balsamiq">+5,000</span>
                    </div>
                </div>
            </div>
            <div class="friends-invite-buttons">
                <a href="#" class="balsamiq">Invite friend <br><span class="balsamiq">Copy link to invite</span></a>
                <a href="#"><img src="{{ url_for('static', filename='img/invite-friendsbigger.png') }}" alt=""></a>
            </div>
        </main>
        <main id="earn-page-thirdcontent" class="main">
            <h4 class="balsamiq" style="font-size: 12px; padding: 0 25%; text-align: center;">Get your ticket and join the spin to share the exciting prize pool</h4>
            <div class="prize-fond">
                <h4 class="balsamiq">Prize fond: 10k$</h4>
                <div><img src="{{ url_for('static', filename='img/clock.png') }}" alt=""> <span class="balsamiq">120:54:10</span></div>
                <img src="{{ url_for('static', filename='img/gift-small.png') }}" alt="" class="small-gift">
            </div>
            <div class="ticket-container">
                <div class="ticket-text-container">
                    <img src="{{ url_for('static', filename='img/ticket.png') }}" alt="">
                    <h4 class="balsamiq">ticket</h4>
                </div>
                <div class="token-text-container">
                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                    <span class="balsamiq">800</span>
                </div>
                <div class="button-container-gift">
                    <a href="" class="balsamiq">Buy ticket</a>
                    <div class="quantity-form"><button id="market-buy-minus" class="minus-button balsamiq">–</button><input type="number"><button id="market-buy-plus" class="plus-button balsamiq">+</button></div>
                </div>
            </div>
        </main>
        <div class="popup popup-join-social">
            <div class="cross-exit"><img src="{{ url_for('static', filename='img/cross-exit-gold.png') }}" alt=""></div>
            <h4 class="balsamiq">Join our telegram channel</h4>
            <img src="{{ url_for('static', filename='img/telegram-icon-big.png') }}" alt="">
            <div class="popup-option option-social">
                <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                <span class="balsamiq">+ 123,465,790</span>
            </div>
            <div class="button-container-social">
                <a href="#">Subscribe</a>
                <a href="#">Check out</a>
            </div>
        </div>
        <footer class="footer tap-bar">
            <div class="footer-nav active" id="nft-button"><img src="{{ url_for('static', filename='img/nft 4.png') }}" alt=""> <h4 class="balsamiq">NFT</h4></div>
            <div class="footer-nav" id="storage-button"><img src="{{ url_for('static', filename='img/storage.png') }}" alt=""> <h4 class="balsamiq">Storage</h4></div>
            <div class="footer-nav" id="main-button"><img src="{{ url_for('static', filename='img/eggmine.png') }}" alt=""> <h4 class="balsamiq">Main</h4></div>
            <div class="footer-nav" id="earn-button"><img src="{{ url_for('static', filename='img/cash.png') }}" alt=""> <h4 class="balsamiq">Earn</h4></div>
            <div class="footer-nav" id="wallet-button"><img src="{{ url_for('static', filename='img/wallet.png') }}" alt=""> <h4 class="balsamiq">Wallet</h4></div>
        </footer>
    </section>