<section class="section" id="main-page">
    <div class="desktop balsamiq" style="color: black; font-size: 48px;">Please switch to Mobile version (CTRL + SHIFT + C</div>
    <header>
        <nav class="main-page-nav">
            <div class="main-page-navpoint" id="earnpertap">
                <h3 class="navpoint-header header-h3 roboto">Earn per tap</h3>
                <div class="navpoint-header-imgcontainer">
                    <img src="{{ url_for('static', filename='img/egg.png') }}" alt="">
                    <span class="navpoint-span roboto earn-per-tap">+{{ earn_per_tap }}</span>
                </div>
            </div>
            <div class="main-page-navpoint" id="profperhour">
                <h3 class="navpoint-header header-h3 roboto">Profit per hour</h3>
                <div class="navpoint-header-imgcontainer">
                    <img src="{{ url_for('static', filename='img/egg.png') }}" alt="">
                    <span class="navpoint-span roboto profit-per-hour">+{{ "{:,.2f}".format(current_user.profit_per_hour) }}</span>
                    <a href="#"><img src="{{ url_for('static', filename='img/information.png') }}" alt=""></a>
                </div>
            </div>
            <div class="main-page-navpoint" id="storagevolume">
                <h3 class="navpoint-header header-h3 roboto">Storage volume</h3>
                <div class="navpoint-header-imgcontainer">
                    <img src="{{ url_for('static', filename='img/egg.png') }}" alt="">
                    <span class="navpoint-span roboto egg-balance">
                        {{ "{:,.0f}".format(current_user.egg_balance) }}
                    </span>
                    <span class="navpoint-span roboto storage-max">
                        /{{ "{:,.0f}".format(current_user.storage_max_volume) }}
                    </span>
                </div>
            </div>
        </nav>
        <div id="animated-token" class="animated-token balsamiq">+&nbsp;<span class="balsamiq">3000</span>&nbsp;tokens</div>
    </header>
    <main class="main-content mainpage-main">
        <div class="main-info">
            <div id="egg-capacity">
                <img src="{{ url_for('static', filename='img/egg_bigger.png') }}" alt="">
                <span class="balsamiq egg-balance"> {{ "{:,.0f}".format(current_user.egg_balance) }}</span>
            </div>
            <div id="info-icons">
                <a href="#"><img src="{{ url_for('static', filename='img/Question_Mark.png') }}" alt=""></a>
                <a href="#"><img src="{{ url_for('static', filename='img/chest-open.png') }}" alt=""></a>
                <a href="#"><img src="{{ url_for('static', filename='img/calendar.png') }}" alt=""></a>
            </div>
        </div>
        <div class="storage">
            <img src="{{ url_for('static', filename='img/storage1lvl.png') }}" alt="">
        </div>
        <div class="energy-upgrade-container">
            <div class="main-page-navpoint energy-container">
                <div id="energy-capacity">
                    <img src="{{ url_for('static', filename='img/corn.png') }}" alt="">
                    <span class="balsamiq"> {{ "{:,.0f}".format(current_user.food_balance) }}/{{ "{:,.0f}".format(current_user.food_balance_max) }}</span>
                    <img src="{{ url_for('static', filename='img/plusbutton.png') }}" alt="">
                </div>
                <h4 class="roboto">-{{earn_per_tap}} per tap</h4>
            </div>
            <div id="upgrade">
                <div id="upgrade-arrow">
                    <img src="{{ url_for('static', filename='img/arrow-up.png') }}" alt="">
                    <span class="balsamiq">Upgrade</span>
                </div>
                <p class="level roboto">Lvl: <span class="roboto">{{ current_user.storage_lvl }}</span></p>
            </div>
        </div>
            <div class="buy-chicken">
                <div class="chicken" id="default-chicken">
                    <h4 class="balsamiq">Free</h4>
                    <img src="{{ url_for('static', filename='img/Default_chicken_character_in_the_style_of_the_Disney_studio_ca_0_e7e8e0c4-589c-4219-9759-56a6ed2be8fa_02.png' ) }}" alt="" style="position: relative; z-index: 1;">
                    <div class="blur-container"><span class="balsamiq">30 days</span></div>
                </div>
                <div class="chicken" >
                    <img src="{{ url_for('static', filename='img/Default_chicken_character_in_the_style_of_the_Disney_studio_ca_0_e7e8e0c4-589c-4219-9759-56a6ed2be8fa_02.png' ) }}" alt="">
                    <div class="blur-container spanblur-container"><span class="chicken-quantity balsamiq">4 pcs</span><span class="balsamiq">+</span></div>
                </div>
                <div class="chicken" >
                    <img src="{{ url_for('static', filename='img/red-chicken.png' ) }}" alt="">
                    <div class="blur-container spanblur-container"><span class="chicken-quantity balsamiq">4 pcs</span><span class="balsamiq">+</span></div>
                </div>
                <div class="chicken" >
                    <img src="{{ url_for('static', filename='img/black-chicken.png' ) }}" alt="">
                    <div class="blur-container spanblur-container"><span class="chicken-quantity balsamiq">4 pcs</span><span class="balsamiq">+</span></div>
                </div>
                <div class="chicken" >
                    <img src="{{ url_for('static', filename='img/gray-chicken.png' ) }}" alt="">
                    <div class="blur-container spanblur-container"><span class="chicken-quantity balsamiq">4 pcs</span><span class="balsamiq">+</span></div>
                </div>
                <div class="chicken" >
                    <img src="{{ url_for('static', filename='img/gray-red-chicken.png' ) }}" alt="">
                    <div class="blur-container spanblur-container"><span class="chicken-quantity balsamiq">4 pcs</span><span class="balsamiq">+</span></div>
                </div>
            </div>
    </main>
    <div class="overlay"></div>
    <div class="main-page-popup full-storage">
        <div class="main-page-popup-content">
            <img src="{{ url_for('static', filename='img/chicken-on-mainpage-popup.png' ) }}" alt="" class="absolute-img">
            <h2 class="balsamiq">Oops! The storage is full</h2>
            <img src="{{ url_for('static', filename='img/cross-exit-gold.png' ) }}" alt="" style="position: absolute; top: 5%; left: 90%;">
            <div class="button-popup" id="to-storage">
                <img src="{{ url_for('static', filename='img/storage-upgrade-popup.png' ) }}" alt="">
                <p class="balsamiq" style="font-size: 18px;">Upgrade</p>
            </div>
        </div>
    </div>
    <div class="main-page-popup almost-full-storage">
        <div class="main-page-popup-content">
            <img src="{{ url_for('static', filename='img/chicken-on-mainpage-popup.png' ) }}" alt="" class="absolute-img">
            <h2 class="balsamiq">Oops! The storage is full</h2>
            <img src="{{ url_for('static', filename='img/cross-exit-gold.png' ) }}" alt="" style="position: absolute; top: 5%; left: 90%;">
            <div class="button-popup" id="to-storage">
                <p class="balsamiq" style="font-size: 18px;">To storage</p>
            </div>
        </div>
    </div>
    <div class="daily-popup">
        <div class="daily-popup-content">
            <img src="{{ url_for('static', filename='img/cross-exit-gold.png' ) }}" alt="" style="position: absolute; top: 5%; left: 90%;">
            <h2 class="balsamiq">Your daily reward</h2>
            <h4 class="balsamiq">Day <span>1</span></h4>
            <img src="{{ url_for('static', filename='img/daily-reward-token.png' ) }}" alt="">
            <h4 class="balsamiq">+ <span>3000</span>&nbsp;tokens</h4>
            <div class="balsamiq get-button" id="get-reward">Get reward</div>
        </div>
    </div>
    <footer class="footer tap-bar">
        <div class="footer-nav active" id="nft-button"><img src="{{ url_for('static', filename='img/nft 4.png') }}" alt=""> <h4 class="balsamiq">NFT</h4></div>
        <div class="footer-nav" id="storage-button"><img src="{{ url_for('static', filename='img/storage.png') }}" alt=""> <h4 class="balsamiq">Storage</h4></div>
        <div class="footer-nav" id="main-button"><img src="{{ url_for('static', filename='img/eggmine.png') }}" alt=""> <h4 class="balsamiq">Main</h4></div>
        <div class="footer-nav" id="earn-button"><img src="{{ url_for('static', filename='img/cash.png') }}" alt=""> <h4 class="balsamiq">Earn</h4></div>
        <div class="footer-nav" id="wallet-button"><img src="{{ url_for('static', filename='img/wallet.png') }}" alt=""> <h4 class="balsamiq">Wallet</h4></div>
    </footer>
</section>
