    <section class="section" id="nft-page">
        <div class="nft-explore-img"><img src="{{ url_for('static', filename='img/nft explore.png') }}" alt=""></div>
        <div class="token-balance">
            <h4 class="roboto">Token balance</h4>
            <div class="token-text-container">
                <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                <span class="balsamiq">800,010,800</span>
            </div>
        </div>
        <nav>
            <ul class="nft-navigation">
                <li class="nft-navpoint nft-navpoint-active balsamiq" id="my-nft-nav">My NFT's</li>
                <li class="nft-navpoint balsamiq" id="new-nft-nav">New</li>
            </ul>
        </nav>
        <main class="main " id="my-nft">
            <div class="nft-collection">
                <div class="nft-option">
                    <div class="nft-option-blur"></div>
                    <div class="nft-option-content">
                        <h4 class="balsamiq">Golden collection</h4>
                        <span class="roboto">This is a rare collection</span>
                        <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                    </div>
                </div>
                <div class="nft-option">
                    <div class="nft-option-blur"></div>
                    <div class="nft-option-content">
                        <h4 class="balsamiq">Golden collection</h4>
                        <span class="roboto">This is a rare collection</span>
                        <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="" class="bronze-light">
                    </div>
                </div>
                <div class="nft-option">
                    <div class="nft-option-blur"></div>
                    <div class="nft-option-content">
                        <h4 class="balsamiq">Golden collection</h4>
                        <span class="roboto">This is a rare collection</span>
                        <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                    </div>
                </div>
                <div class="nft-option">
                    <div class="nft-option-blur"></div>
                    <div class="nft-option-content">
                        <h4 class="balsamiq">Golden collection</h4>
                        <span class="roboto">This is a rare collection</span>
                        <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                    </div>
                </div>
                <div class="nft-option">
                    <div class="nft-option-blur"></div>
                    <div class="nft-option-content">
                        <h4 class="balsamiq">Golden collection</h4>
                        <span class="roboto">This is a rare collection</span>
                        <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                    </div>
                </div>
                <div class="nft-option">
                    <div class="nft-option-blur"></div>
                    <div class="nft-option-content">
                        <h4 class="balsamiq">Golden collection</h4>
                        <span class="roboto">This is a rare collection</span>
                        <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                    </div>
                </div>
                <div class="nft-option">
                    <div class="nft-option-blur"></div>
                    <div class="nft-option-content">
                        <h4 class="balsamiq">Golden collection</h4>
                        <span class="roboto">This is a rare collection</span>
                        <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                    </div>
                </div>
                <div class="nft-option">
                    <div class="nft-option-blur"></div>
                    <div class="nft-option-content">
                        <h4 class="balsamiq">Golden collection</h4>
                        <span class="roboto">This is a rare collection</span>
                        <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                    </div>
                </div>
            </div>
        </main>
        <main class="main active-main" id="buy-nft">
            <nav>
                <h4 class="balsamiq buy-nft" id="all-nft">All NFT's</h4>
                <h4 class="balsamiq  buy-nft buy-nft-switch-active" id="limited-nft">Limited NFT's</h4>
            </nav>
            <div class="limited-nft nftmarket nftmarket-active">
                <div class="nft-collection nft-limited">
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="clock-img"><img src="{{ url_for('static', filename='img/clock.png') }}" alt=""><span class="balsamiq">120:54:10</span></div>
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="clock-img"><img src="{{ url_for('static', filename='img/clock.png') }}" alt=""><span class="balsamiq">120:54:10</span></div>
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="clock-img"><img src="{{ url_for('static', filename='img/clock.png') }}" alt=""><span class="balsamiq">120:54:10</span></div>
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="clock-img"><img src="{{ url_for('static', filename='img/clock.png') }}" alt=""><span class="balsamiq">120:54:10</span></div>
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="clock-img"><img src="{{ url_for('static', filename='img/clock.png') }}" alt=""><span class="balsamiq">120:54:10</span></div>
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="clock-img"><img src="{{ url_for('static', filename='img/clock.png') }}" alt=""><span class="balsamiq">120:54:10</span></div>
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="clock-img"><img src="{{ url_for('static', filename='img/clock.png') }}" alt=""><span class="balsamiq">120:54:10</span></div>
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="clock-img"><img src="{{ url_for('static', filename='img/clock.png') }}" alt=""><span class="balsamiq">120:54:10</span></div>
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all-nft nftmarket">
                <div class="nft-collection nft-all">
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                    <div class="nft-option">
                        <div class="nft-option-blur"></div>
                        <div class="nft-option-content">
                            <h4 class="balsamiq">Golden collection</h4>
                            <span class="roboto">This is a rare collection</span>
                            <img src="{{ url_for('static', filename='img/nft-chicken.png') }}" alt="">
                            <div class="buy-nft-limited">
                                <div class="token-text-container">
                                    <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    <span class="balsamiq">8000</span>
                                </div>
                                <button class="balsamiq">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer tap-bar">
            <div class="footer-nav active" id="nft-button"><img src="{{ url_for('static', filename='img/nft 4.png') }}" alt=""> <h4 class="balsamiq">NFT</h4></div>
            <div class="footer-nav" id="storage-button"><img src="{{ url_for('static', filename='img/storage.png') }}" alt=""> <h4 class="balsamiq">Storage</h4></div>
            <div class="footer-nav" id="main-button"><img src="{{ url_for('static', filename='img/eggmine.png') }}" alt=""> <h4 class="balsamiq">Main</h4></div>
            <div class="footer-nav" id="earn-button"><img src="{{ url_for('static', filename='img/cash.png') }}" alt=""> <h4 class="balsamiq">Earn</h4></div>
            <div class="footer-nav" id="wallet-button"><img src="{{ url_for('static', filename='img/wallet.png') }}" alt=""> <h4 class="balsamiq">Wallet</h4></div>
        </footer>
    </section>
