<section class="section active" id="onboarding-page">
    <main class="onboarding-main" id="welcome-onboarding">
        <div class="radial-gradient"></div>
        <div class="onboarding-header">
            <img src="{{ url_for('static', filename='img/welcome.png') }}" alt="" style="width: 75%;">
        </div>
        <img src="{{ url_for('static', filename='img/onboarding-first-page.png') }}" alt="" class="onboarding-bottom-image">
        <h3 class="balsamiq" style="text-align: center; font-size: 24px; font-weight: 100%; margin-top: 7.5%;">Choose a language</h3>
        <div class="language-container">
            <div class="language-option" id="english">
                <div class="onboarding-img-container">
                    <img src="{{ url_for('static', filename='img/English.png') }}" alt="" style="width: 32px;">
                    <h4 class="balsamiq" style="font-weight: 400; font-family: 'Inter';">English</h4>
                </div>
                <img src="{{ url_for('static', filename='img/Expant-Arrow.png') }}" alt="" style="position: relative; left: 10px;">
            </div>
        </div>
    </main>
    <main class="onboarding-main active-onboarding-main" id="onboarding-first-step">
        <div class="radial-gradient"></div>
        <div class="progress-indicator">
            <span class="step-indicator step-indicator-active"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
        </div>
        <h2 class="balsamiq">Get free chicken by completing tasks and earn money</h2>
        <div class="button-navigation">
            <div class="button-back balsamiq">Back</div>
            <div class="button-next balsamiq" id="next">Next</div>
        </div>
        <img src="{{ url_for('static', filename='img/onboarding-second-page.png') }}" alt="" class="onboarding-bottom-image">
    </main>
    <main class="onboarding-main">
        <div class="radial-gradient"></div>
        <div class="progress-indicator">
            <span class="step-indicator"></span>
            <span class="step-indicator step-indicator-active"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
        </div>
        <h2 class="balsamiq">Upgrade your hangar to avoid losing profits</h2>
        <div class="button-navigation">
            <div class="button-back balsamiq" id="back">Back</div>
            <div class="button-next balsamiq" id="next">Next</div>
        </div>
        <img src="{{ url_for('static', filename='img/onboarding-third-page.png') }}" alt="" class="onboarding-bottom-image" style="top: 38%;">
    </main>
    <main class="onboarding-main">
        <div class="radial-gradient"></div>
        <div class="progress-indicator">
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator step-indicator-active"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
        </div>
        <h2 class="balsamiq">Replenish energy so that your hens lay eggs without stopping</h2>
        <div class="button-navigation">
            <div class="button-back balsamiq" id="back">Back</div>
            <div class="button-next balsamiq" id="next">Next</div>
        </div>
        <img src="{{ url_for('static', filename='img/onboarding-fourth-page.png') }}" alt="" class="onboarding-image">
    </main>
    <main class="onboarding-main">
        <div class="radial-gradient"></div>
        <div class="progress-indicator">
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator step-indicator-active"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
        </div>
        <h2 class="balsamiq">Breed your chickens to get more income from them</h2>
        <div class="button-navigation">
            <div class="button-back balsamiq" id="back">Back</div>
            <div class="button-next balsamiq" id="next">Next</div>
        </div>
        <img src="{{ url_for('static', filename='img/onboarding-fivth-image.png') }}" alt="" class="onboarding-bottom-image" style="top: 40%;">
    </main>
    <main class="onboarding-main">
        <div class="radial-gradient"></div>
        <div class="progress-indicator">
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator step-indicator-active"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
        </div>
        <h2 class="balsamiq">Exchange eggs for tokens and withdraw profit instantly</h2>
        <div class="button-navigation">
            <div class="button-back balsamiq" id="back">Back</div>
            <div class="button-next balsamiq" id="next">Next</div>
        </div>
        <img src="{{ url_for('static', filename='img/onboarding-sixth-image.png') }}" alt="" class="onboarding-image" style="top: 16%;">
    </main>
    <main class="onboarding-main">
        <div class="radial-gradient"></div>
        <div class="progress-indicator">
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator step-indicator-active"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
        </div>
        <h2 class="balsamiq">Take part in the draws and get a guaranteed prize</h2>
        <div class="button-navigation">
            <div class="button-back balsamiq" id="back">Back</div>
            <div class="button-next balsamiq" id="next">Next</div>
        </div>
        <img src="{{ url_for('static', filename='img/onboarding-seventh-image.png') }}" alt="" class="onboarding-bottom-image" style="top: 45%;">
    </main>
    <main class="onboarding-main">
        <div class="radial-gradient"></div>
        <div class="progress-indicator">
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator step-indicator-active"></span>
            <span class="step-indicator"></span>
        </div>
        <h2 class="balsamiq">Collect NFTs and be the first to access tokens when they are listed on exchanges</h2>
        <div class="button-navigation">
            <div class="button-back balsamiq" id="back">Back</div>
            <div class="button-next balsamiq" id="next">Next</div>
        </div>
        <img src="{{ url_for('static', filename='img/onboarding-eight-image.png') }}" alt="" class="onboarding-bottom-image">
    </main>
    <main class="onboarding-main">
        <div class="radial-gradient"></div>
        <div class="progress-indicator">
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator"></span>
            <span class="step-indicator step-indicator-active"></span>
        </div>
        <h2 class="balsamiq">Chickens of 4-5 levels have a faster payback period</h2>
        <div class="button-navigation">
            <div class="button-back balsamiq" id="back">Back</div>
            <div class="button-next balsamiq" id="next">Next</div>
        </div>
        <img src="{{ url_for('static', filename='img/onboarding-last-image.png') }}" alt="" class="onboarding-bottom-image" style="top: 42%;">
    </main>
</section>


