    <section class="section active" id="storage-page">
        <div class="storage-page-gradient"></div>
        <div class="storage-page-gradient-2nd"></div>
        <header>
            <nav class="storage-nav">
                <div class="storage-navpoint" id="egg-navpoint">
                    <div><img src="{{ url_for('static', filename='img/egg-no-bg.png') }}" alt=""><h4 class="balsamiq">507,981,000</h4></div>
                    <h4 class="balsamiq">Today <span class="arrow-up-html-code"> &#8593;</span> 342, 342 </h4>
                </div>
                <div class="change">
                    <div>
                        <img src="{{ url_for('static', filename='img/arrow-right.png') }}" alt="">
                        <h4 class="balsamiq">Change</h4>
                    </div>
                </div>
                <div class="storage-navpoint" id="token-navpoint">
                    <div><img src="{{ url_for('static', filename='img/token.png') }}" alt=""><h4 class="balsamiq">800,000,010</h4></div>
                    <h4 class="balsamiq">1,500 eggs = 1 token</h4>
                </div>
            </nav>
            <div class="storage-info-container">
                <div id="storage-info-blur">
                    <div class="storage-info">
                        <h4 class="balsamiq">Storage info</h4>
                        <div class="storage-info-items">
                            <div class="storage-info-item">
                                <span class="balsamiq">Volume</span>
                                <p class="balsamiq">80/100K</p>
                            </div>
                            <div class="storage-info-item">
                                <span class="balsamiq">Chickens</span>
                                <p class="balsamiq">30</p>
                            </div>
                            <div class="storage-info-item">
                                <span class="balsamiq">Corn</span>
                                <p class="balsamiq">-12/min</p>
                            </div>
                            <div class="storage-info-item">
                                <span class="balsamiq">Level</span>
                                <p class="balsamiq">Bronze</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="storage-upgrade">
                    <a class="upgrade-button balsamiq">Upgrade</a>
                </div>
            </div>
        </header>
        <main>
            <div class="energy-switch">
                <span href="" class="balsamiq storage-switch-active" id="energy-switch-energy">Energy</span>
                <span href="" class="balsamiq" id="energy-switch-chicken">Chicken</span>
            </div>
            <div>
                <div class="energy-switch-switcher energy-switch-switcher-active buy-energy-container" id="buy-energy-section">
                    <div class="boost-string-container">
                        <div style="width: 100%;">
                            <li><div><img src="{{ url_for('static', filename='img/energy-upgrade.png') }}" alt=""><h4 class="balsamiq">Buy more energy</h4></div><div><h4 class="balsamiq">64.567</h4><img src="{{ url_for('static', filename='img/token.png') }}" alt=""></div><img src="{{ url_for('static', filename='img/button raise up.png') }}" alt="" id="toggle-arrow"></li>
                            <div class="energy-boost energy-flat-container">
                                <div>
                                    <img src="../static/img/energy-upgrade.png" alt="">
                                    <div class="energy-flat-input-container"><input type="number" max="1000" id="energy-input" placeholder="Type amount of energy" inputmode="numeric"></div>
                                    <h3 class="balsamiq">Max 1000</h3>
                                </div>
                            </div>
                            <div class="energy-boost energy-cost-container">
                                <div class="token-text-container"><img src="../static/img/token.png" alt=""><span class="balsamiq" id="energy-cost">0</span></div>
                                <div class="balsamiq">Buy &nbsp; <img src="../static/img/point no bg.png" alt=""></div>
                            </div>
                            <div class="boost-string"></div>
                        </div>
                    <div style="width: 100%;">
                        <li>
                            <div>
                                <img src="{{ url_for('static', filename='img/buy-corn.png') }}" alt="">
                                <h4 class="balsamiq">Boost energy limit</h4>
                            </div>
                            <div>
                                <h4 class="balsamiq">64,567</h4>
                                <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                            </div>
                            <img src="{{ url_for('static', filename='img/button raise up.png') }}" alt=""  id="toggle-arrow-limit">
                        </li>
                        <div class="energy-limit-container">
                            <div class="energy-limit">
                                <h3 class="balsamiq" style="font-size: 14px; font-weight: 100;">Up to <span>2000</span></h3>
                                <div>
                                    <span class="balsamiq" style="margin-right: 5%; font-size: 14px;">5000</span> <img src="../static/img/token.png" alt="">
                                </div>
                                <img src="../static/img/button raise up.png" alt="">
                            </div>
                            <div class="energy-limit">
                                <h3 class="balsamiq" style="font-size: 14px; font-weight: 100;">Up to <span>5000</span></h3>
                                <div>
                                    <span class="balsamiq" style="margin-right: 5%; font-size: 14px;">5000</span> <img src="../static/img/token.png" alt="">
                                </div>
                                <img src="../static/img/button raise up.png" alt="">
                            </div>
                            <div class="energy-limit">
                                <h3 class="balsamiq" style="font-size: 14px; font-weight: 100;">Up to <span>10000</span></h3>
                                <div>
                                    <span class="balsamiq" style="margin-right: 5%; font-size: 14px;">5000</span> <img src="../static/img/token.png" alt="">
                                </div>
                                <img src="../static/img/button raise up.png" alt="">
                            </div>
                        </div>
                    </div>
                        <li><div><img src="{{ url_for('static', filename='img/raise-balance.png') }}" alt=""><h4 class="balsamiq">Energy per tap</h4></div><div><h4 class="balsamiq">64,567</h4><img src="{{ url_for('static', filename='img/token.png') }}" alt=""></div><img src="{{ url_for('static', filename='img/button raise up.png') }}" alt=""></li>
                        <div class="boost-string"></div>
                        <li><div><img src="{{ url_for('static', filename='img/autoenergy.png') }}" alt=""><h4 class="balsamiq">Autoclick</h4></div><div><h4 class="balsamiq">64,567</h4><img src="{{ url_for('static', filename='img/token.png') }}" alt=""></div><img src="{{ url_for('static', filename='img/button raise up.png') }}" alt=""></li>
                    </div>
                </div>
                <div class="energy-switch-switcher" id="buy-chicken-section">
                    <nav>
                        <h4 class="balsamiq" id="my-chickens">My chickens</h4>
                        <h4 class="balsamiq chicken-market-switch-active" id="chickens-market">Chicken market</h4>
                    </nav>
                    <div class="chicken-market chicken-market-active" id="market">
                        <ul class="products">
                            <li>
                                <div class="star-rating-market"><img src="{{ url_for('static', filename='img/star.png') }}" alt=""></div>
                                <img src="{{ url_for('static', filename='img/white chicken color.png') }}" alt="">
                                <div class="market-buy-container buy-button">
                                    <p class="balsamiq">Buy</p>
                                    <div>
                                        <span class="balsamiq">67,089</span>
                                        <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="star-rating-market"><img src="{{ url_for('static', filename='img/star.png') }}" alt=""><img src="{{ url_for('static', filename='img/star.png') }}" alt=""></div>
                                <img src="{{ url_for('static', filename='img/red chicken color.png') }}" alt="">
                                <div class="market-buy-container buy-button">
                                    <p class="balsamiq">Buy</p>
                                    <div>
                                        <span class="balsamiq">67,089</span>
                                        <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="star-rating-market"><img src="{{ url_for('static', filename='img/star.png') }}" alt=""><img src="{{ url_for('static', filename='img/star.png') }}" alt=""><img src="{{ url_for('static', filename='img/star.png') }}" alt=""></div>
                                <img src="{{ url_for('static', filename='img/blue chicken color.png') }}" alt="">
                                <div class="market-buy-container buy-button">
                                    <p class="balsamiq">Buy</p>
                                    <div>
                                        <span class="balsamiq">67,089</span>
                                        <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="star-rating-market"><img src="{{ url_for('static', filename='img/star.png') }}" alt=""><img src="{{ url_for('static', filename='img/star.png') }}" alt=""><img src="{{ url_for('static', filename='img/star.png') }}" alt=""><img src="{{ url_for('static', filename='img/star.png') }}" alt=""></div>
                                <img src="{{ url_for('static', filename='img/redblue chicken color.png') }}" alt="">
                                <div class="market-buy-container buy-button">
                                    <p class="balsamiq">Buy</p>
                                    <div>
                                        <span class="balsamiq">67,089</span>
                                        <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="my-chickens" id="chicken-sell">
                        <ul class="products">
                            <li>
                                <div class="star-rating-market"><img src="{{ url_for('static', filename='img/star.png') }}" alt=""></div>
                                <img src="{{ url_for('static', filename='img/white chicken color.png') }}" alt="">
                                <div class="market-buy-container sell-button">
                                    <p class="balsamiq">Sell</p>
                                    <div>
                                        <span class="balsamiq">67,089</span>
                                        <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="star-rating-market"><img src="{{ url_for('static', filename='img/star.png') }}" alt=""><img src="{{ url_for('static', filename='img/star.png') }}" alt=""></div>
                                <img src="{{ url_for('static', filename='img/red chicken color.png') }}" alt="">
                                <div class="market-buy-container sell-button">
                                    <p class="balsamiq">Sell</p>
                                    <div>
                                        <span class="balsamiq">67,089</span>
                                        <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="star-rating-market"><img src="{{ url_for('static', filename='img/star.png') }}" alt=""><img src="{{ url_for('static', filename='img/star.png') }}" alt=""><img src="{{ url_for('static', filename='img/star.png') }}" alt=""></div>
                                <img src="{{ url_for('static', filename='img/blue chicken color.png') }}" alt="">
                                <div class="market-buy-container sell-button">
                                    <p class="balsamiq">Sell</p>
                                    <div>
                                        <span class="balsamiq">67,089</span>
                                        <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="star-rating-market"><img src="{{ url_for('static', filename='img/star.png') }}" alt=""><img src="{{ url_for('static', filename='img/star.png') }}" alt=""><img src="{{ url_for('static', filename='img/star.png') }}" alt=""><img src="{{ url_for('static', filename='img/star.png') }}" alt=""></div>
                                <img src="{{ url_for('static', filename='img/redblue chicken color.png') }}" alt="">
                                <div class="market-buy-container sell-button">
                                    <p class="balsamiq">Sell</p>
                                    <div>
                                        <span class="balsamiq">67,089</span>
                                        <img src="{{ url_for('static', filename='img/token.png') }}" alt="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer tap-bar">
            <div class="footer-nav active" id="nft-button"><img src="{{ url_for('static', filename='img/nft 4.png') }}" alt=""> <h4 class="balsamiq">NFT</h4></div>
            <div class="footer-nav" id="storage-button"><img src="{{ url_for('static', filename='img/storage.png') }}" alt=""> <h4 class="balsamiq">Storage</h4></div>
            <div class="footer-nav" id="main-button"><img src="{{ url_for('static', filename='img/eggmine.png') }}" alt=""> <h4 class="balsamiq">Main</h4></div>
            <div class="footer-nav" id="earn-button"><img src="{{ url_for('static', filename='img/cash.png') }}" alt=""> <h4 class="balsamiq">Earn</h4></div>
            <div class="footer-nav" id="wallet-button"><img src="{{ url_for('static', filename='img/wallet.png') }}" alt=""> <h4 class="balsamiq">Wallet</h4></div>
        </footer>
        <div class="popup popup-market-buy">
            <div class="star-rating-market"><img src="{{ url_for('static', filename='img/star.png') }}" alt=""></div>
            <div class="cross-exit"><img src="{{ url_for('static', filename='img/cross-exit.png') }}" alt=""></div>
            <img src="{{ url_for('static', filename='img/white-chicken-market.png') }}" alt="">
            <div class="popup-option option-earn">
                <h4 class="balsamiq">Earn per hour</h4>
                <span class="balsamiq">+ 123 eggs</span>
            </div>
            <div class="popup-option option-corn">
                <h4 class="balsamiq">Corn in a minute</h4>
                <span class="balsamiq">- 123 corn</span>
            </div>
            <div class="popup-option option-price"><img src="{{ url_for('static', filename='img/token.png') }}" alt=""><span class="balsamiq">64,567</span></div>
            <div class="popup-option option-value">
                <button class="orange-button balsamiq">Buy</button>
                <div class="quantity-form"><button id="market-buy-minus" class="minus-button balsamiq">–</button><input type="number"><button id="market-buy-plus" class="plus-button balsamiq">+</button></div>
            </div>
            <p class="balsamiq">After purchase you will get +1000 corn</p>
        </div>
        <div class="popup popup-market-sell">
            <div class="star-rating-market"><img src="{{ url_for('static', filename='img/star.png') }}" alt=""></div>
            <div class="cross-exit"><img src="{{ url_for('static', filename='img/cross-exit.png') }}" alt=""></div>
            <img src="{{ url_for('static', filename='img/white-chicken-market.png') }}" alt="">
            <div class="popup-option option-earn">
                <h4 class="balsamiq">Earn per hour</h4>
                <span class="balsamiq">+ 123 eggs</span>
            </div>
            <div class="popup-option option-corn">
                <h4 class="balsamiq">Corn in a minute</h4>
                <span class="balsamiq">- 123 corn</span>
            </div>
            <div class="popup-option option-price"><img src="{{ url_for('static', filename='img/token.png') }}" alt=""><span class="balsamiq">64,567</span></div>
            <div class="popup-option option-value">
                <button class="orange-button dark-orange-button balsamiq">Sell</button>
                <div class="quantity-form sell-quantity-form"><button id="market-buy-minus" class="minus-button balsamiq  market-sell-minus">–</button><input type="number"><button id="market-buy-plus" class="plus-button balsamiq market-sell-plus">+</button></div>
            </div>
        </div>
    </section>
    